*.blend1

# Profiling
/callgrind.out.*
/flamegraph.svg
/perf.data
/perf.data.old

# Profiling compile times - https://endler.dev/2020/rust-compile-times/#profile-compile-times
/rustc.svg
/rustcycles-*.mm_profdata

/fyrox.log
# rusty-editor
/profiling.log

/git-hooks/pre-commit

# Configs for faster builds - see readme / example configs
/.cargo/config.toml
/rust-toolchain.toml

# Separate target for rust-analyzer to speed up builds
/target-ra

/target
