*.blend1

/rg3d.log
# rusty-editor
/profiling.log

# Configs for faster builds - see readme / example configs
/.cargo/config.toml
/rust-toolchain.toml

# Separate target for rust-analyzer to speed up builds
/target-ra

/target
