[package]
name = "rustcycles"
version = "0.0.0"
edition = "2021"
rust-version = "1.56"
resolver = "2"
authors = ["Martin Taibr <taibr.martin@gmail.com>"]

[profile.dev]
# Abort on panic might be a better default:
# https://vorner.github.io/2018/07/22/dont_panic.html
# This makes backtraces useless, see .cargo/config-example.toml for a fix.
panic = "abort"

[profile.dev.package."*"]
# Optimize deps but not this crate itself (tip from macroquad).
# This seems to slightly improve performance (e.g. loading a model goes from 1.4 s to 0.2 s)
# and shouldn't meaningfully increase incremental compile times because deps only change rarely.
opt-level = 3

[profile.release]
panic = "abort"

[features]
cli = ["structopt"]

[dependencies]
bincode = "1.3.3"
#fyrox = "0.25.0"
fyrox = { git = "https://github.com/FyroxEngine/Fyrox", rev = "75772797205b1c4b8142dca15c1dbbd665309146" }
#fyrox = { git = "https://github.com/martin-t/Fyrox", rev = "922b623a929a079694adce1ded4006ef7d43fd02" }
#fyrox = { path = "../fyrox" }
inline_tweak = "1.0.8"
serde = { version = "1.0.136", features = ["derive"] }
structopt = { version = "0.3.25", optional = true }
strum = "0.24.0"
strum_macros = "0.24.0"
